<div>
<app-header></app-header><div class="card"><div style="border-radius: 200px; height: 200px;width: 200px;background: #f8faf5;margin: 0 auto;">
  <img style="width: 188px;" src="https://cdn.pixabay.com/photo/2017/01/13/01/22/ok-1976099_1280.png" alt="">

</div>
<h2 style="text-align: center;">Order has placed successfully</h2>
<strong style="text-align: center;">Thank You For Shopping With BizzyBuzz</strong>
<h6 style="text-align: center; color: green;" >Kindly pay amount
<strong style="color: blue;" >${{totalAmount}}</strong>&nbsp;during dilivery </h6>
</div>
</div>